*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

.container--yellow .footer--yellow{
    background-color:#ffd602 ;
}

.footer--blue{
    background-color:#016fb9 ;
}

.navigation, .navigation__options {
    display: flex;
    align-items: center;
   
}

.navigation {
    width: 100%;
}

.navigation__options li{
    font-size: 4rem;
    margin-left: 2rem;
}