*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}




.footer{
    
    height: 50%;
}

.footer__item{
    width: 130px;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color:#016fb9
}