*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{

    height: 100vh;
    width: 100vw;
}
.layout__container, footer{
    width: 55%;
}


body, .navigation, .navigation__options {
    display: flex;
}

.navigation, .navigation__options{
    align-items: center;
}

.navigation__options li{
    font-size: 1.6rem;
    margin-left: 2rem;
}

.main{
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.main__title p,.aside__text{
    font-size: 3.6rem;
}

.main__title h1{
    font-size: 4.8rem;
    font-weight: bold;
}

.main__paragraph{
    font-size: 1.6rem;
}

.footer{
    
    height: 430px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    border-radius: 0 80px 0 0;
    position: absolute;
    bottom: 0;
}

.footer__item{
    width: 130px;
    height: 50%;
    background-color: blue;
    border-radius: 40px 40px 0 0;
}

.aside{
    width: 45%;
}

.aside, .layout__container{
    height: 100vh;

}
.aside__text, .aside__image{
    width: 10%;
}

.aside__container--yellow{
    width: 50%;
    height: 100px;
}

.aside__container--yellow, .footer{
    background-color:#ffd602 ;
}